<!DOCTYPE html>
<html>

<head>
    <base href="/" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
    <script src="./javascripts/user.js"></script>
</head>

<body ng-app="user">
    <div ng-controller="main">
        <h2>{{user}} kamal</h2>
        <button ng-click="abc()">ABC</button>
        <ui-view></ui-view>
    </div>
</body>

</html>